{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}{% endblock %}

<div id="recent-posts">
{% for article in articles_page.object_list %}
  <article class="hentry">
    <header>
      <div class="right padded big small-caps silent">
        {{ article.date.strftime('%d. %b') }}<br>{{ article.date.year }}
      </div>
      <h1 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}"
           title="Permalink to {{ article.title|striptags }}"
           rel="bookmark">{{ article.title }}</a>
      </h1>
    </header>
    <div class="entry-content">
      {{ article.content }}
    </div>
  </article>
{% endfor %}
</div>
</section>
{% endblock content %}
