{% extends "base.html" %}
{% block title %}Bits of Code &mdash; {{ SITENAME }}{% endblock %}
{% block heading %}<h1>Bits of Code</h1>{% endblock %}
{% block content %}
<dl>
<dt><a href='https://github.com/kirkeby/'>github</a></dt>
<dd>These days all my code ends up on github.</dd>

<dt><a href='hurd-entropy/'><code>/dev/{,u}random</code>
driver for GNU/Hurd</a></dt>
<dd>A port of the Linux <code>/dev/{,u}random</code> driver to
GNU/Hurd.</dd>

<dt><a href='{{ SITEURL }}/static/files/portalfs.tar.gz'>user-space portals</a></dt>
<dd>An user-space implementation of the old portals concept from BSD4.4;
this is for UNIXen that dynamically link executables. If you have no
idea what I am talking about you might want to read <a
href='http://www.kohala.com/start/portals.ps'>Portals in 4.4BSD</a> by
W. Richard Stevens and Jan-Simon Pendry.</dd>
</dl>
{% endblock %}
